body, #slider, .wrap, .slide-content {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
}
p {
    font-weight: 400;
}
.hide {
    opacity: 0;
}
.wrap {
    text-align: center;
    position: relative;
}

.slide {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.slide1 {
    background-image: url('assets/images/img1.jpg');
}
.slide2 {
    background-image: url('assets/images/img2.jpeg');
}
.slide3 {
    background-image: url('assets/images/img3.jpg');
}

.slide-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.slide-content span {
    padding: 1em 0 1em 0;
    font-size: 3rem;
    color: white;
}
.slide-content  {
    color: #ffffff;
}
.slide-content span>span {
    color:rgb(131, 10, 10);
}
.arrow {
    cursor: pointer;
    position: absolute;
    top: 50%;
    margin-top: -10px;
}

#arrow-left {
    left: 0;
    margin-left: 35px;
    margin-left: 2.2em;
    width: 1.4em;
    height: 1.4em;
    border-top: 0.3em solid #ffffff;
    border-right: 0.3em solid #ffffff;
    -moz-transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
}
#arrow-right {
    right: 0;
    margin-right: 30px;
    margin-right: 3em;
    width: 1.4em;
    height: 1.4em;
    border-top: 0.3em solid #ffffff;
    border-right: 0.3em solid #ffffff;
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

/* Nav */

nav {
    font-family: 'Oswald', sans-serif;
    position: absolute;
    left: 0;
    font-size: 1.5rem;
    top: 5%;
    text-align: center;
    width: 100%;
    height:auto;   
    transition: top 0.2s ease-in-out;
}
nav li {
    text-align: center;
    display: inline-block;
    padding: 0 15px 10px 15px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}
nav a {
    color: white;
    display: inline-block;
    text-align: center;
    text-decoration: none; 
}
nav a:hover {
    color: white;
    border-bottom: 3px solid rgb(131, 10, 10);
    text-decoration: none;
}
.toggle-nav .hamburger {
    color: white;
    display: none;
}
.expand {
    display: block;
}
@media (max-width: 768px) {
    .toggle-nav {
        display: block;
        height: 40px;
    }
    #hamburger {
        display: block;
        margin-right: 15px;
        padding-top:2px;
        float: right;
        font-size: 48px;
        transform: rotate(90deg);
        height: 40px;
    }
    .hamburger:hover {
        cursor: pointer;
    }
    nav li {
        width: 100%;
        height: 5em;
    }
    nav a {
        padding: 0;
        text-align: center;
    }
    nav {
        background-color: rgb(39, 39, 39);
    }
    navu li:last-child {
        border-bottom: 3px solid #000;
    }
    nav ul {
        display: none;
    }
    .ab {
        display: none;
    }
    .more-info {
        padding-top: 2em;
    }
    .arrow {
        display: none;
    }
    .slide-content span {
        padding: 0.5em 0 0.5em 0;
    }
    .contact .con {
        padding-bottom: 10px;
    }
}

/* Categorii */
.categorii {
    border-bottom: 2px solid gray;
}
.box {
    position: absolute;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    cursor: pointer;
}
.box svg {
    padding-top: 20px;
}
.box .boxContent span {
    position: relative;
    left: 20%;
    display: block;
    height: 3px;
    width: 3em;
    border: 0;
    border-top: 3px solid rgb(0, 0, 0);
    margin: 1em 0;
    padding: 0;
}
.box .boxContent span:hover {
    border-top:3px solid white;
}
.box:hover {
    /* bottom: 2em; */
    background-color: rgb(131, 10, 10);
    color: white;
}

/* About */
.about {
    padding-top: 3em;
    padding-bottom: 5em;
    height: 500px;
}
.about h1 {
    padding-bottom: 2em;
    position: relative;
}
.about p {
    padding-top: 2em;
}
.ab {
    background-image: url('assets/images/about.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: inherit;
    height: 300px;
    padding-bottom: 4em;
}

/* section */

.more-info {
    background-image: url('assets/images/img3.jpg');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 300px;
}
.more-info h1 {
   color: #ffffff;
   padding-top: 2em;
   position: relative;
}
.more-info p {
    color: #ffffff;
    padding-top: 4em;
}
#map {
    height: 400px;
    width: auto;
}
.con {
    padding-bottom: 2em;
}

/* footer */
.con {
    padding-top:0.5em;
    padding-bottom: 5em;
}
.contact img {
    padding: 0 1em 0 0;
    height:2em;
    width: auto;
}
.footer {
    width: 100%;
    height: 40px;
    background-color: rgb(189, 189, 189);
}
